.number {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px #ccc solid;
    margin-left: 20px;
}

.wrapper {
    display: flex;
    justify-content: flex-end;
    margin: 30px;
}